# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Files
lib
Win32
.vs
*.filters
*.user
Debug
*.swp
*.un~
.vscode
.cache
CMakeFiles
CMakeCache.txt
*.data
*.html
*.js
*.wasm
*.cap
model_converter/build
build
cmake_install.cmake
Makefile
*.ninja
*.json
.ninja_deps
.ninja_log
api
imgui.ini
*.code-workspace
android-project/gradle/wrapper/gradle - ショートカット.lnk
*.mtl
*.obj
.clang-format
build/Assets/.gitkeep
embuild
